# Visual Studio / IDE
**/.vs/
**/.vscode/

# Build output
**/bin/
**/obj/
**/out/
**/publish/
**/log*
**/*.log*

# Dockerfile
**/Dockerfile

# Git
**/.git
**/.github

# Frontend
**/node_modules
**/dist

# Temp files
**/.DS_Store
**/*.swp
**/*.tmp
**/*.temp