.container {
  display: flex;
  flex-direction: row;
  gap: 50px
}

.leftContainer {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 100px
}

.robotStatus {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rightContainer {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 20px;
}

.warehouseMapContainer {
  padding: 20px 40px;
  width: fit-content;
}

.screenshot {
  background-color: rgb(218, 218, 218);;
}