.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.arrow {
    font-size: 12px;
    transition: transform 0.2s ease;
}

.productsPreviewTd {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.arrowTh {
    width: 20px;
}

.actionsTh {
    width: 250px;
}

.productCellAllInformation {
    padding: 5px 80px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

table, th, td {
    border-bottom: 1px solid black;
}

th {
    text-align: left;
}

th, td {
    padding: 5px 20px;
}

tr:nth-child(even) {
    background-color: #f7f7f7;
}

tr:hover {
    background-color: #d8d8d8;
}

.select {
    background-color: #71b176;
    font-weight: 500;
}

.select option {
    background-color: white;
}