.container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 50px;
}

.buttonContainer {
    display: flex;
}

.buttonAdd {
    background-color: #71b176;
}

.buttonRemove {
    background-color: #d37575;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border-bottom: 1px solid black;
}

th {
    text-align: left;
}

th, td {
    padding: 5px 20px;
}

tr:nth-child(even) {
    background-color: #f7f7f7;
}

tr:hover {
    background-color: #d8d8d8;
}