#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 30px 5vw;
}