.container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 40px;
    background-color: rgb(218, 218, 218);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}