.container {
  display: flex;
  flex-direction: column;
  gap: 50px
}

.robotStatus {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.robotControl {
  display: flex;
  flex-direction: column;
  gap: 20px;
}