.container {
  display: flex;
  flex-direction: row;
  gap: 50px
}

.leftContainer {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 100px
}

.robotStatus {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.robotControl {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rightContainer {
  display: flex;
  width: 50%;
  flex-direction: column;
}